<% provide(:title, @title) %>
<div class="row">
  <aside class="span4">
    <section>
      <%= gravatar_for @user %>
      <%= @user.username %>
    </section>
  <section>
    <%= render 'shared/stats' %>
  </section>
  </aside>
  <div class="span8">
      <h3><%= @title %> (<%= @messages.count %>)</h3>
    <% if @messages.any? %>
      <ol class="microposts">
        <%= render partial: "users/message", collection: @messages %>
      </ol>
      <%= will_paginate @messages %>
    <% else %>
      No messages!
    <% end %>
  </div>
</div>
